
html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #2F2F71;
  margin-bottom: 30px;

}

h1 {
  letter-spacing: 4px;
  text-shadow: 2px 2px grey;
  color: black;
}

hr {
  margin-bottom: 40px;
}

#content {
  width: 100%;
  height: 100%;
}

#checkIfCorrect {
  display: none;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px 5px 25px 5px;
  font-weight: bolder;
}
#lyrics {
  font-weight: bold;
  color: #2F2F71;
}

#translatedlyrics {
  font-weight: bold;
  color: #2F2F71;
}

.navbar {
  background-color: #2F2F71;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/*#originalarea, #translatedarea {
  margin-right: 10px;
  float: left;
}
