
html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #2F2F71;
  margin-bottom: 35px;
  font-family: "Lucida Console"; /* was "ucida Console" ??? not sure if intended */
  font-size: 22px;

}

h1 {
  letter-spacing: 4px;
  text-shadow: 2px 2px grey;
  color: black;

}

#transrace-start {
  margin-top: 3cm;
}

hr {
  margin-bottom: 40px;
}

#content {
  width: 100%;
  height: 100%;
  padding-bottom: 40px; /* band-aid fix for navbar obscuring button */
}

#checkIfCorrect {
  display: none;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px 5px 25px 5px;
  font-weight: bolder;
}

#transrace {
  display: none;
  animation: transrace 1s;
  -webkit-animation: transrace 1s;
}

#transrace #transrace-start {
  font-weight: bolder;
}

.pause {
  animation-name: none;
}

#lyrics {
  font-weight: bold;
  color: #2F2F71;
  background-color: #f2f2f2;
  border-radius: 6px;
  color: #2F2F71;
  font-size: 20px;
}

#translatedLyrics {
  font-weight: bold;
  color: #2F2F71;
  background-color: #f2f2f2;
  border-radius: 6px;
  color: #2F2F71;
  font-size: 20px;
  resize: none;
}

::placeholder {
  font-weight: bold;
  font-size: 20px;
  color: #2F2F71;
}

button {
  font-size: 18px;
  border-radius: 4px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#error {
  display: none;
  color: red;
}

.navbar {
  background-color: #2F2F71;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

@keyframes transrace {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
